body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

#wrapper {
  width: 950px;
  margin: auto;
}

#interface {
  display: table;
  margin: auto;
  border: 1px solid #808080;
}

#interface > div {
  display: table-row;
}

#interface > div > div {
  display: table-cell;
  border: 1px solid #808080;
  padding: 8px;
}
